@charset "utf-8";
/* 版心区域 */
.main-title,.main-box,.main-box02{
    width: 1226px;
    margin: 0 auto;
}
/* logo */
#logo-wrap{
    position: relative;
}
#logo-wrap .logo-ul{
    margin-left: 72px!important;
}

/* banner-l */
.banner-l{
    width: 234px;
    height: 460px;
    padding: 20px 0;
    opacity: 0.8;
    position: absolute;
    top: 140px;
    left: 146px;
    background: #fff;
    z-index: 20px;
    border: 1px solid #ff6700;
}
.banner-l>.banner-l01{
    display: flex;
    flex-direction: column;
}
.banner-l>.banner-l01>li{
    background: #fff;
    padding-left: 30px;
}

/* 划过哪一个li把一个就变色 */
.banner-l>.banner-l01>li:hover{
    background: #ff6700;
}

.banner-l>.banner-l01>li>a{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    color: #424242;
}
.banner-l>ul>li>i{
    float: right;
    font-size: 16px;
    font-weight: bold;
    color: #e0e0e0;
    padding: 10px 20px 0 0;
}
/* 鼠标划过的二级菜单 */
.banner-l02{
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 100%;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
    display: none;
    z-index: 30;
}
.banner-l02>ul{
    float: left;
    width: 248px;
    height: 458px;
}
.banner-l02>ul>li{
    width: 265px;
    height: 76px;
}

.banner-l02>ul>li>a{
    display: block;
    padding: 18px 20px;
    height: 40px;
    line-height: 40px;
}
.banner-l02>ul>li>a>img{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
}
.banner-l02>ul>li>a>span{
    float: left;
    font-size: 14px;
    color: #333;
}
.banner-l02>ul>li>a>span:hover{
    color: #ff6700;
}
/* main */
main{
    padding-bottom: 80px;
    background: #f5f5f5;
    overflow: hidden;
}
.main-img{
    height: 620px;
    width: 2650px;
    position: relative;
    left: 50%;
    margin-left: -1280px;
}
.main-img>a{
    display: block;
    width: 100%;
    height: 100%;
}
.main-img>a>img{
    width: 100%;
    height: 100%;
}
.main-title>h2{
    line-height: 64px;
    margin: 0;
    padding-top: 4px;
    color: #333;
    font-size: 24px;
    font-weight: 400;
}
.main-box{
    height: 434px;
    background: #fff;
    position: relative;
}
.box-img{
    width: 854px;
    height: 100%;
    position: relative;
}
.box-img>a>img{
    display: block;
    width: 100%;
    height: 100%;
}
.box-text{
    position: absolute;
    left: 916px;
    top: 94px;
    bottom: 0;
    width: 270px;
}
.box-text>h3{
    line-height: 32px;
    font-weight: 400;
    color: rgba(51,51,51,.9);
    font-size: 32px;
}
.box-text>p:nth-of-type(1){
    width: 270px;
    line-height: 22px;
    min-height: 44px;
    margin: 4px 0 0;
    color: #333;
    color: rgba(51,51,51,.7);
    font-size: 14px;
}
.box-text>p:nth-of-type(2){
    line-height: 45px;
    margin: 17px 0 0;
    color: #ff6700;
    font-size: 12px;
    font-weight: 700;
}
.box-text>p:nth-of-type(2)>span{
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -2px;
}
.box-text>p:nth-of-type(3){
    position: absolute;
    left: 0;
    bottom: 62px;
}
.box-text>p:nth-of-type(3)>a{
    color: rgba(51,51,51,.7);
    font-size: 14px;
}
.main-box:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-5px,0);
    z-index: 3;
    transition: all .2s linear;
}
.konge{
    background-color: rgb(245, 245, 245);
    height: 14px;
    width: 100%;
}
.main-box02{
    height: 482px;
}
.m-box{
    width: 606px;
    float: left;
    position: relative; 
    height: 100%;
    background: #fff;
    text-align: left;
    margin-top: 14px;   
    overflow: hidden;
}
.main-box02>.m-box:nth-child(even){
    margin-left: 14px;
}
.m-img{
    width: 100%;
    height: 358px;
}
.m-img>a>img{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
}
.m-box>h3{
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 26px;
    margin: 38px 0 0 48px;
    font-size: 1.17em;
}
.m-box>p:nth-of-type(1){
    line-height: 18px;
    margin: 3px 0 0 48px;
    color: rgba(51,51,51,.7);
    font-size: 14px;
}
.m-box>p:nth-of-type(2){
    line-height: 30px;
    color: #ff6700;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    right: 48px;
    bottom: 30px;
}
.m-box>p:nth-of-type(2)>span{
    font-weight: 400;
    font-size: 30px;
}
.m-box:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-5px,0);
    z-index: 3;
    transition: all .2s linear;
}